<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Rest-Assured API Test Suite">
    <parameter name="environment" value="prod"></parameter>
    <listeners>
        <listener
                class-name="utilities.TestListener"/>
    </listeners>
    <test name="API Testing">
        <classes>
            <class name="Send_otp"></class>
        </classes>
    </test>
</suite>